html{

}

body{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: 550;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
}



header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 100;
}

.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu{
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px; 
}

.header__menu-item{
    margin-left: 20px;
    position: relative;
}

.header__menu-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.header__menu-item:hover::before{
    transform: scale(1);
}
.header__menu-item a{
    color: #000000;
    transition: color .3s;
}

.header__menu-item a:hover{
    color: rgb(255, 0, 0);
}

.ellipse{
    width: 140px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-bottom: -50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__wrapper{
    display: flex;
}
.logo{
    margin: 0;
    top: 50%;
    left: 50%;

}
.logo__info{
    display: inline-block;
    align-items: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo__info p{
    font-size: 12px;
    margin-top: -10px;
}
.header__contacts{
    display: flex;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
}
.header__contacts div{
    margin: 5px;
}
.header__contacts__tel{
    display: inline-block;
}
.header__buttons{
    display: flex;
}
.header__buttons div{
    padding-right: 10px;
}
.header__buttons__heart{
    margin-top: -5px;
}
.olives{
    display: flex;
}
.olives__image img{
    float: right;
    margin-top: 120px;
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: right;
}
.olives__info{
    background-color: #155B74;
    width: 100%;
    float: left;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.olives__info__content{
    display: inline-block;
    align-items: center;
    justify-content: center;
    height: 100%;
    max-width: 600px;
}
.olives__info__container{
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
}
.olives__info__button a{
    border-color: #ffffff;
    width: 200px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 60px;
    border: 2px solid;
    height: 50px;
    color: #ffffff;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
}
.olives__info__button a:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-7px);
}
.olives__additional__info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.olives__additional__info__item{
    border: 2px solid;
    width: 500px;
    height: 180px;
    border-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.olives__additional__info__item2{
    border: 2px solid;
    border-left: 0px;
    width: 500px;
    height: 180px;
    border-color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.olives__additional__info__item__text{
    color: #000000;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
    max-width: 190px;
    margin-left: 15px;
    line-height: 30px;
}
.body__content__main__catalog__stock__item__title__buttons a{
    border: 1px solid;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 60px;
    height: 50px;
    border-color: #454545;
    margin-left: 5px;
}
.body__content__main__catalog__stock__item__title__buttons a:hover{
    border-color: #155B74;
    transform: translateY(-1px);
}
.body__content__main__catalog__stock{
    max-width: 1505px;
    margin: 0 auto;
}
.stock{
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
}
.stock h3{
    font-size: 30px;
}
.body__content__main__catalog__stock__item__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body__content__main__catalog__stock__item__title__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.to__catalog{
    padding-left: 5px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    color: #737373;
}
.body__content__main__catalog__item__products{
    align-items: center;
    justify-content: space-around;
}
.body__content__main__catalog__item__products__new{
    display: flex;
}
.body__content__main__catalog__item__products__good{
    border: 1px solid;
    border-color: #E0E0E0;
    width: 380px;
    height: 550px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
}
.body__content__main__catalog__item__products__good__prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.old__price{
    text-decoration: line-through;
    margin-left: 10px;
    color: #BDBDBD;
}
.goods{
    max-width: 220px;
    max-height: 400px;
    font-weight: 600;
}
.body__content__main__catalog__item__products__good1__info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.volume{
    background-color: #d5f6ff;
    border-radius: 30px;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.good__info__code{
    color: #155B74;
}
.add__to__cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-color: #454545;
    height: 40px;
    width: 100%;
}
.add__to__cart__button{
    border: 1px solid;
    border-color: #155B74;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 60px;
    padding: 18px 40px 18px 40px;
    color: #155B74;
    font-weight: 700;
}
.add__to__cart__button:hover{
    background: #155B74;
    box-shadow: 0 15px 20px rgba(46, 89, 229, 0.4);
    color: #FFFFFF;
    transform: translateY(-7px);
}
.add__to__cart__button a:hover{
    color: #FFFFFF;
}
.add__to__cart__like{
    border: 1px solid;
    border-color: #E0E0E0;
    width: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 50%;
    height: 50px;
}
.add__to__cart__like:hover{
    border-color: #155B74;
    transform: translateY(-1px);
}
.good__picture{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.goods__discount{
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EB5757;
    color: #FFFFFF;
    border-radius: 30px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    line-height: 16px;
}
.swiper__image__image{
    border: 3px solid;
    border-color: violet;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}
.swiper__image{
    box-sizing: border-box;
    width: 100%;
}
.swiper__image__image img{
    max-width: 100%;
}
.body__content__main__catalog__new__goods{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body__content__main__catalog__new{
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.novalies__title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.novelties{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #454545;
    font-family: "Ubuntu";
    font-style: normal;
    font-size: 25px;
    line-height: 55px;
    width: 400px;
    height: 120px;
}
.body__content__main__catalog__new__goods .goods__discount{
    background-color: #2D9CDB;
}
.new__price{
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.body__content__main__catalog__more__goods{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
.body__content__main__catalog__more__goods__button{
    border: 1px solid #155B74;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 220px;
    border-radius: 30px;
}
.more__goods__button:hover{
    border-color: #155B74;
    background-color: #155B74;
    color: #FFFFFF;
    transform: translateY(-1px);
}
.more__goods__button{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #155B74;
    padding: 15px 50px 15px 50px;
    border: 1px solid #155B74;
    border-radius: 30px;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #155B74;
    width: 100%;
    height: 400px;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 350px;
    margin-top: 50px;
}
.footer__wrapper__item{
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.footer__item__top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.footer__item__top__item2__link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item2__link:hover::before{
    transform: scale(1);
}
.footer__item__top__item2__link:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.footer__item__top__item3 a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item3 a:hover::before{
    transform: scale(1);
}
.footer__item__top__item3 a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.footer__item__top__item5__contacts__phone::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item5__contacts__phone:hover::before{
    transform: scale(1);
}
.footer__item__top__item5__contacts__phone:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.all__rights__reserved{
    color: #8AADBA;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
.footer__item__top__item2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item2__link{
    color: #FFFFFF;
}
.footer__item__top__item2__title{
    color: #CDEFF9;
}
.footer__item__top__item3{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item3 a{
    color: #FFFFFF;
}
.pseudo__title{
    opacity: 0;
    pointer-events: none;
}
.footer__item__top__item4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item5{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    vertical-align: top;
}
.footer__item__top__item5__title a{
    color: #CDEFF9;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.footer__item__top__item5__contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__item__top__item5__contacts img{
    margin-left: 10px;
}
.footer__item__top__item5__contacts a{
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.footer__item__top__item5__call__back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.footer__item__top__item5__call__back__button{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 15px 50px 15px 50px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
.footer__item__top__item5__call__back__button:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    transform: translateY(-7px);
}

.footer__item__bot{
    height: 100px;
    vertical-align: bottom;
    border-top: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__item__bot__item1 p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8AADBA;
}
.footer__item__bot__item2{
    display: flex;
}
.footer__item__bot__item2 a{
    border: 1px solid #8AADBA;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
}
.footer__instagram:hover{
    background-image: linear-gradient(to left, violet, red);
    transform: translateY(-2px);
    border-color: red;
}
.footer__facebook:hover{
    background-color: #002e69;
    border-color: #002e69;
    transform: translateY(-2px);
}
.footer__youtube:hover{
    background-color: red;
    border-color: red;
    transform: translateY(-2px);
}
.footer__item__bot__item3 a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    color: #8AADBA;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;

}
.swiper-wrapper{
    display: flex;
    width: 100%;
    min-width: 0;
    position: relative;
}
.body__content__main__about{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body__content__main__about__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.body__content__main__about__info{
    display: block;
    align-items: center;
    justify-content: center;
    width: 600px;
}
.body__content__main__about__info__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.body__content__main__about__info__content__item1{
    width: 570px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #454545;
}
.body__content__main__about__info__content__item2{
    border: 1px solid #FFFFFF;
    padding: 10px;
    border-radius: 50%;
    margin-right: -290px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.body__content__main__about__info__content__item2 img{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.body__content__main__about__image img{
    margin: 0 0 0 0;
}
.body__content__main__about__middle__image img{
    height: 200px;
}
.body__content__main__about__info__title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 55px;
    display: flex;
    align-items: center;
    color: #454545;
}
.body__content__main__about__info__more__button a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #155B74;
    border: 1px solid #155B74;
    width: 190px;
    height: 50px;
    border-radius: 30px;
}
.body__content__main__about__info__more__button a:hover{
    border-color: #155B74;
    background-color: #155B74;
    color: #FFFFFF;
    transform: translateY(-1px);
}
.swiper__image .swiper-button-next::after{
    display: none;
}
.swiper__image .swiper-button-prev::after{
    display: none;
}
.swiper__image{
    width: 50%;
}
.olives__slider__buttons{
    display: flex;
    align-items: center;
    height: 80px;
    width: 400px;
    vertical-align: bottom;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
}
.swiper-button-prev{
    display: flex;
    flex-direction: column;
    float: right;
}
.olives__slider__buttons__container{
    display: flex;
    width: 80px;
    margin-left: 50px;
    align-items: center;
    justify-content: space-between;
    float: left;
}
.olives__info__content__points{
    margin-bottom: -200px;
    height: 200px;
    display: flex;
}
.slider__pagination{
    display: inline-block;
    vertical-align: bottom;
    margin-top: 180px;
}