html{
    scroll-behavior: smooth;
}
body{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #000000;
    font-weight: 550;
}
.container{
    max-width: 1250px;
    margin: 0 auto;
}
header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    padding: 10px 0;
    z-index: 100;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu{
    display: flex;
    align-items: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px; 
}
.header__menu-item{
    margin-left: 20px;
    position: relative;
}
.header__menu-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.header__menu-item:hover::before{
    transform: scale(1);
}
.header__menu-item a{
    color: #000000;
    transition: color .3s;
}

.header__menu-item a:hover{
    color: rgb(255, 0, 0);
}
.ellipse{
    width: 140px;
    height: 140px;
    background: #FFFFFF;
    border-radius: 50%;
    margin-bottom: -50px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__wrapper{
    display: flex;
}
.logo{
    margin: 0;
    top: 50%;
    left: 50%;

}
.logo__info{
    display: inline-block;
    align-items: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
    margin-top: 20px;
    margin-left: 20px;
}
.logo__info p{
    font-size: 12px;
    margin-top: -10px;
}
.header__contacts{
    display: flex;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    font-style: 18px;
}
.header__contacts div{
    margin: 5px;
}
.header__contacts__tel{
    display: inline-block;
}
.header__buttons{
    display: flex;
}
.header__buttons div{
    padding-right: 10px;
}
.header__buttons__heart{
    margin-top: -5px;
}
.body__content__{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body__content__main{
    
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #155B74;
    width: 100%;
    height: 400px;
}
.footer__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 1530px;
    height: 350px;
    margin-top: 50px;
}
.footer__wrapper__item{
    display: block;
    align-items: center;
    justify-content: center;
    width: 80%;
}
.footer__item__top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.footer__item__top__item2__link::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item2__link:hover::before{
    transform: scale(1);
}
.footer__item__top__item2__link:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.footer__item__top__item3 a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item3 a:hover::before{
    transform: scale(1);
}
.footer__item__top__item3 a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.footer__item__top__item5__contacts__phone::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    right: 0;
    background-color: rgb(255, 0, 0);
    transform: scale(0);
    transition: transform .3s;
}
.footer__item__top__item5__contacts__phone:hover::before{
    transform: scale(1);
}
.footer__item__top__item5__contacts__phone:hover{
    color: rgb(255, 0, 0);
    transform: scale(1);
}
.all__rights__reserved{
    color: #8AADBA;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
}
.footer__item__top__item2{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item2__link{
    color: #FFFFFF;
}
.footer__item__top__item2__title{
    color: #CDEFF9;
}
.footer__item__top__item3{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item3 a{
    color: #FFFFFF;
}
.pseudo__title{
    opacity: 0;
    pointer-events: none;
}
.footer__item__top__item4{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    vertical-align: top;
}
.footer__item__top__item5{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    vertical-align: top;
}
.footer__item__top__item5__title a{
    color: #CDEFF9;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.footer__item__top__item5__contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__item__top__item5__contacts img{
    margin-left: 10px;
}
.footer__item__top__item5__contacts a{
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
}
.footer__item__top__item5__call__back{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.footer__item__top__item5__call__back__button{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 15px 50px 15px 50px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
}
.footer__item__top__item5__call__back__button:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    transform: translateY(-7px);
}

.footer__item__bot{
    height: 100px;
    vertical-align: bottom;
    border-top: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__item__bot__item1 p{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #8AADBA;
}
.footer__item__bot__item2{
    display: flex;
}
.footer__item__bot__item2 a{
    border: 1px solid #8AADBA;
    padding: 15px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: 10px;
}
.footer__instagram:hover{
    background-image: linear-gradient(to left, violet, red);
    transform: translateY(-2px);
    border-color: red;
}
.footer__facebook:hover{
    background-color: #002e69;
    border-color: #002e69;
    transform: translateY(-2px);
}
.footer__youtube:hover{
    background-color: red;
    border-color: red;
    transform: translateY(-2px);
}
.footer__item__bot__item3 a{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration-line: underline;
    color: #8AADBA;
}
